body {
    font-family: monospace;
    font-size: 16px;
    color: #000;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  .about-page-container {
    margin: 0 10%; /* add margin from left and right */
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    font-size: 20px; /* increase font size */
  }
  
  .about-page-text {
    color: black; /* solid black color */
  }

  