img[src$=".png"], img[src$=".gif"], img[src$=".jpg"] {
  background-color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: sans-serif;
  /* font-weight: bold; */
}

.copyright {
  display: flex;
  justify-content: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
}
